**/obj/**
**/bin/**
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tlog
*.pch
*.pdb
*.idb
*.ilk
*.aps
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb

*~
*.swp
*.bak
*.tmp

*.obj
*.mtl
*.png
*.jpg
*.tga
*.dll
# CMake build directories
build/
build-*/
CMakeUserPresets.json
